body {
    font-family: Inter, system-ui, sans-serif;
    font-weight: 420;
    margin: 45px;
    color: #c6d0f5;
    background-color: #303446;
    line-height: 1.5;
}

h1 {
    color: #f2d5cf;
    font-family: Monospace;
}

ul {
    color: #ca9ee6;

}

ol {
    color: #c6d0f5;
}

h2,
a {
    color: #eebebe;
}
