body {
    font-family: Arial, Verdana, sans-serif;
    margin: auto;
    padding: 10px;
    background-color: #303446;
}

h1 {
    color: #f2d5cf;
    text-align: center;
}

ul,
ol {
    color: #ca9ee6;
}

a {
    color: #eebebe;
}
